chromadb
accelerate
chardet
datasets
duckdb
fiona
gdal
geoalchemy2
geopandas
httpx
numpy
networkx
openai
openpyxl
python-dotenv
psycopg2-binary
pyarrow
pyogrio
pyyaml
scikit-learn
sentence-transformers
sqlalchemy
sqlglot
torch
tqdm
trl
transformers
